body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    min-width: 230px;

    --color-red: #ff2d55;
    --color-green: #34c759;
    --color-blue: #007aff;
    --color-orange: #ff9500;
    --color-accent: var(--color-blue);
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.fields {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(3, 40px);
    align-items: center;
    grid-gap: 15px;
    width: 60%;
    max-width: 450px;
    margin: 45px auto 0;
}

.description {
    color: #959595;
    max-width: 400px;
    margin: 45px auto 0;
    font-size: 16px;
    line-height: 1.55;
}

.fields-title {
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
    border: none;
    font-size: 20px;
}

.input {
    border: 2px solid var(--color-accent);
    border-radius: 4px;
    font-size: 20px;
    padding: 4px 8px;
}

.visibility {
    color: var(--color-green);
}

.visibility.__low {
    color: var(--color-orange);
}

.visibility.__high {
    color: var(--color-red);
}

@media (max-width: 740px) {
    .fields {
        grid-gap: 26px;
        grid-template-columns: 126px 1fr;
        width: 100%;
        padding: 0 20px;
        margin: 33px auto 0;
    }
}

@media (max-width: 470px) {
    .description {
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .fields {
        gap: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .fields-title {
        margin-top: 10px;
    }
}