body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 400;
  min-width: 230px;
  --color-background: white;
  --color-text: #1d1d1f;
  --color-text-secondary: #86868b;
  --color-blue: #007aff;
  --color-blue-outline: 0 0 0 4px rgba(0, 122, 155, 0.6);
  --color-green: #34c759;
  --color-gray: #d2d2d7;
  --color-red: #ff2d55;
  --color-orange: #ff9500;
  --color-accent: var(--color-blue);
  background-color: var(--color-background);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-background: #0c0c0c;
    --color-text: #ececec;
    --color-text-secondary: #555;
    --color-blue: #0A84FF;
    --color-blue-outline: 0 0 0 4px rgba(10, 132, 255, 0.6);
    --color-green: #34c759;
    --color-gray: #56565c;
    --color-red: #FF3760;
    --color-orange: #FF9F09;
  }
}

* {
  box-sizing: border-box;
}

.fields-container {
  margin-top: 35px;
}

.fieldsGroup {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 53px;
  align-items: center;
  grid-gap: 15px;
  width: 60%;
  max-width: 450px;
  margin: 10px auto 0;
  opacity: 1;
  transition: opacity .25s linear;
}

.fieldsGroup.__hidden {
  pointer-events: none;
  opacity: 0;
}

.description {
  color: var(--color-text-secondary);
  max-width: 400px;
  margin: 17px auto 0;
  font-size: 17px;
  line-height: 1.51;
  letter-spacing: -0.35px;
}

.fields-title {
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  border: none;
  font-size: 20px;
  color: var(--color-text);
  box-shadow: 0 0 0 var(--color-background);
  transition: box-shadow 0.25s ease-out;
}

.input {
  border: 1px solid var(--color-gray);
  border-radius: 12px;
  font-size: 20px;
  padding: 11px 15px;
  box-shadow: 0 0 0 var(--color-background);
  color: var(--color-text);
  background-color: var(--color-background);
  transition: box-shadow 0.25s ease-out;
}

.input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-blue);
  box-shadow: 0 0 0 4px rgba(0, 125, 250, 0.6);
}

.visibility {
  color: var(--color-green);
}

.visibility.__low {
  color: var(--color-orange);
}

.visibility.__high {
  color: var(--color-red);
}

@media (max-width: 740px) {
  .fieldsGroup {
    grid-gap: 26px;
    grid-template-columns: 126px 1fr;
    width: 100%;
    padding: 0 20px;
    margin: 6px auto 0;
  }
}

@media (max-width: 470px) {
  .description {
    padding: 0 20px;
    margin-top: 27px;
  }
}

@media (max-width: 400px) {
  .fields-title {
    text-align: left;
  }

  .fieldsGroup.__forceGrid {
    display: flex;
    margin-top: 19px;
    gap: 6px;
  }

  .fieldsGroup:not(.__forceGrid) {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .fieldsGroup:not(.__forceGrid) .fields-title {
    margin-top: 10px;
  }
}
